################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week 5 hw/.vs/week 5 hw.slnx
